.header {
  height: 95vh; /*At every point, the height of this box/element should be 95% of the viewport height*/
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg); /*Gradient above image and Gradient moves from left-top to right-bottom*/
  background-size: cover; /*cover - Whatever the width of the viewport/element it will always try to fit the element inside the box*/
  background-position: top; /*top - Whatever the viewport size, top of image always stays at the top of the container (Lecture 6 11:17)*/
  position: relative;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 75vh,
    0 100%
  ); /*Explanation (Lecture 6 17:19)*/

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem; /*Prefer to control height of element rather then width*/
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*Explanation (Lecture 7 13:08)*/
    text-align: center; /*Also aligns inline button*/
  }
}
